<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>dersinipuanla.com'a hoş geldin <%= @firstname %> !</h1>
    <p>
      E-postanın onaylanması için girmen gereken şifre:
      <h3><%= @random %></h3>.<br>
    </p>
    <p>
      Bu sayıyı tek seferlik alana girip onaylaman yeterli.
    </p>
    <p>Aramıza katıldığın için teşekkür ederiz.</p>
  </body>
</html>
